#background {
  height: 300px;
}

.mb-3 {
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: white;
}

h1 {
  color: black;
}

#test {
  height: 3em;
  margin-top: 15px;
}
#navbar-container {
  height: 3em;
  width: 100%;
}
