input {
  width: 20em;
}

button {
  border-radius: 15px;
}

#form-button {
  height: 30%;
  align-self: center;
  padding-top: 0;
  padding-bottom: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  width: 75%;
}

.snack-page-container {
  border: 2px dashed black;
  display: flex;
  justify-content: center;
}

.form-container input {
  width: 60%;
  border: 1px solid purple;
}

.signed-up-person {
  width: 20%;
  border: 1pt solid green;
  height: 30%;
  align-self: center;
}

.snack-date-container {
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

.mb-3 {
  border: 1px dashed blue;
  display: flex;
}
